<style>
  /* Style for the modal content background */
  .modal-content {
    background-color: #212121; /* Dark background for modals */
  }
</style>

<!-- More Info Modal -->
<!-- Modal to show more information about the item -->
<div class="modal fade" id="Modal-MoreInfo-{{ item.id }}"
   tabindex="-1"
   aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="ModalLabel">
                  <!-- Display item name as modal title -->
                  {{ item.name }}
              </h5>
              <!-- Close button for the modal -->
              <button type="button" class="close"
                      data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <!-- Modal body to display item description -->
          <div class="modal-body">
              {{ item.description }}
          </div>
          <div class="modal-footer">
              <!-- Close button inside the modal footer -->
              <button type="button" class="btn btn-secondary"
                      data-dismiss="modal">Close
              </button>
          </div>
      </div>
  </div>
</div>

<!-- Purchase Confirmation Modal -->
<!-- Modal to confirm item purchase -->
<div class="modal fade" id="Modal-PurchaseConfirm-{{ item.id }}"
   tabindex="-1"
   aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="ModalLabel">
                  <!-- Display item name as modal title -->
                  {{ item.name }}
              </h5>
              <!-- Close button for the modal -->
              <button type="button" class="close"
                      data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <!-- Modal body to confirm purchase -->
          <div class="modal-body">
              <form method="POST">
                  <!-- CSRF protection tag for the form -->
                  {{ purchase_form.hidden_tag() }}
                  
                  <!-- Confirmation message asking the user if they want to proceed -->
                  <h4 class="text-center">
                      Are you sure you want to buy {{ item.name }} for {{ item.price }}$ ?
                  </h4>
                  <br>
                  <!-- Additional information about the purchase -->
                  <h6 class="text-center">
                      By clicking Purchase, you will purchase this item.
                  </h6>
                  <br>
                  <!-- Hidden input field to store the item name -->
                  <input id="purchased_item" name="purchased_item" type="hidden" value="{{ item.name }}">
                  
                  <!-- Submit button to finalize the purchase -->
                  {{ purchase_form.submit(class="btn btn-outline-success btn-block") }}
              </form>
          </div>
          <div class="modal-footer">
              <!-- Close button inside the modal footer -->
              <button type="button" class="btn btn-secondary"
                      data-dismiss="modal">Close
              </button>
          </div>
      </div>
  </div>
</div>
